<div class="flex items-center justify-center min-h-[calc(100vh-12rem)]">
  <div class="mx-auto md:w-2/3 w-full max-w-md p-8 bg-white rounded-lg shadow-md">

    <h1 class="font-bold text-4xl text-center mb-6"><%= t("forms.buttons.sign_in") %></h1>

    <%= form_with url: session_url, class: "contents" do |form| %>
      <div class="my-5">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email",
                             placeholder: t("forms.placeholders.email_address"), value: params[:email_address],
                             class: "block shadow-sm rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 focus:outline-none px-4 py-2.5 mt-2 w-full transition duration-200 ease-in-out" %>
      </div>

      <div class="my-5">
        <%= form.password_field :password, required: true, autocomplete: "password",
                                placeholder: t("forms.placeholders.password"),
                                class: "block shadow-sm rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 focus:outline-none px-4 py-2.5 mt-2 w-full transition duration-200 ease-in-out" %>
      </div>

      <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
        <%= form.submit t("forms.buttons.sign_in"), class: "w-full text-center rounded-lg px-4 py-3 bg-blue-700 hover:bg-blue-600 text-white inline-block font-semibold cursor-pointer shadow-md transition duration-200 ease-in-out transform hover:scale-105" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-4 flex justify-end">
        <%= link_to t("forms.buttons.forgot_password"), new_password_path, class: "text-blue-600 hover:text-blue-800 transition duration-200 ease-in-out" %>
      </div>
    <% end %>
  </div>
</div>