<p><%= t("emails.common.greeting") %>, <%= @user.name %>님!</p>
<h1><%= t("emails.welcome.title") %></h1>
<p><%= t("emails.welcome.body") %></p>
<p><%= link_to t("emails.welcome.get_started"), root_url %></p>
<p><%= t("emails.common.regards") %>,<br><%= t("emails.common.signature") %></p>
