<!DOCTYPE html>
<html lang="ko" class="h-full">
  <head>
    <title><%= content_for(:title) || "Console" %></title>

    <%= render "layouts/head" %>
    <%= yield :head %>
  </head>

  <body class="min-h-screen bg-gray-100 dark:bg-gray-900 transition-colors duration-200 break-keep">
    <%= render "layouts/shared/alert" %>
    <%= yield %>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>